@inherits DisplayMemberListBase

@if (Member == null)
{
    <h3>There was a problem retrieving your information. Please log out and try again.</h3>
}
else
{
    if (List == null)
    {
        <h3>Retrieving your list information, please wait...</h3>
    } else
                {
            <h3>@Member.Name's @List.Name List</h3>
                }
}
@if (Items == null)
            {
<h3>Retrieving your list item information, please wait...</h3>
            }
            else
            {
<ul>
    @foreach (var item in Items)
    {
        <li>@item.Label</li>
    }
    <li id="newItem" class="oi oi-plus" @onclick="AddListItem">Add Item</li>
</ul>
            }





