@page "/"
@inherits ListsBase

@attribute [Authorize]

@if (Member == null)
            {
            <h1> Retreiving your list, please wait</h1>
            }
            else
            {

            <h1>Welcome to your List, @Member.Name!</h1>
            }



