@page "/"
@inherits ListsBase

<h1>Welcome to your List!</h1>

@if (Items == null)
            {
                <div class="spinner"></div>
            }
else
            {
                <ul>
                    @foreach (var item in Items)
                {
                    <li>@item.Label</li>
                }
                </ul>
            }

