@page "/"
@inherits ListsBase

<h1>Welcome to your List!</h1>

@if (Lists == null)
            {
                <div class="spinner"></div>
            }
else
            {
                <ul>
                    @foreach (var list in Lists)
                {
                    <li>@list.Name</li>
                }
                </ul>
            }

