@page "/members"
@inherits MembersBase

<h3>Members</h3>

@if (Members == null)
{
    <div class="spinner"></div>
}
else
{
    <ul>
        @foreach (var member in Members)
        {
            <li><a href="@($"memberdetails/{member.MemberId}")" class="btn btn-primary m-1">@member.Name</a></li>
        }
    </ul>
}